@model OdeToFood.Models.RestaurantReview

<div class="review">
    <h4>@Model.Name</h4>
    <span>@Model.Rating</span>
    <p>@Model.City, @Model.Country</p>

    @* Edit a review, The actionLink link will use the current controller, dont need to specify*@
    <span class="right">
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id })
    </span>
</div>
